*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:#050505;
color:#fff;
overflow-x:hidden;
}

nav{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.45);
backdrop-filter:blur(12px);
z-index:1000;
}

.logo{
font-family:'Cinzel',serif;
font-size:28px;
font-weight:900;
color:#D4AF37;
}

.links a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:600;
transition:.3s;
}

.links a:hover{
color:#D4AF37;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:120px 8% 60px;
gap:40px;
background:radial-gradient(circle at top,#2a1c00,#050505);
}

.left{
max-width:550px;
}

.left h1{
font-family:'Cinzel',serif;
font-size:72px;
line-height:1.05;
color:#D4AF37;
text-shadow:0 0 25px rgba(212,175,55,.35);
}

.left p{
margin:25px 0;
font-size:20px;
line-height:1.8;
color:#ddd;
}

.buttons{
display:flex;
gap:15px;
flex-wrap:wrap;
}

button{
padding:16px 34px;
border-radius:50px;
font-size:17px;
font-weight:700;
cursor:pointer;
transition:.3s;
}

.gold{
background:#D4AF37;
color:#000;
border:none;
}

.gold:hover{
transform:translateY(-4px);
box-shadow:0 0 30px #D4AF37;
}

.dark{
background:transparent;
color:#D4AF37;
border:2px solid #D4AF37;
}

.dark:hover{
background:#D4AF37;
color:#000;
}

.right{
flex:1;
display:flex;
justify-content:center;
}

.right img{
width:100%;
max-width:520px;
border-radius:25px;
box-shadow:0 0 60px rgba(212,175,55,.35);
animation:float 4s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-18px);}
100%{transform:translateY(0);}
}

@media(max-width:900px){

.hero{
flex-direction:column-reverse;
text-align:center;
}

.left h1{
font-size:48px;
}

.buttons{
justify-content:center;
}

.links{
display:none;
}

.right img{
max-width:340px;
}
}
body{
    opacity:0;
    transition:opacity .8s ease;
}
